<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type"
      content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
    <header>
        <h1><%= head1 %></h1>
        <h1><%- head2 %></h1>
    </header>
    <div role="main">
        <form action="/target/search" method="post">
            <label>検索したい製品名を入力してください。</label>
            <input required type="text" name="name" value="<%= form_default.name %>" class="form-control"/>
            <br>
            <input type="submit" value="検索"/>
        </form>
    </div>
    <p class="mt-4"><a href="/review/user_list">あなたのレビュー</a></p>
    <p class="mt-4"><a href="/review/list">全てのレビュー</a></p>  
    <p class="mt-4"><a href="/usertop">ユーザのトップ画面</a></p>
    <p class="mt-4"><a href="/signout">ログアウト</a></p>
  </body>
</html>
